
.footer-text{
  bottom:0;
  padding-top:10px;
  padding-right:25px;
}
.footer-text:hover{
  color:#00A9E1;
}

.fa-linkedin:hover{
  color:#0e76a8;
}
.fa-github:hover{
  color:black;
}
.fa-codepen:hover{
  color:black;
}